{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% if title %}
        <title>The dotSchool - {{ title }}</title>
    {% else %}
        <title>The dotSchool Payment Platform</title>
    {% endif %}

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'payment/css/main.css' %}" rel="stylesheet">
</head>

<body class="d-flex flex-column min-vh-100">

<!-- Navbar -->
<nav class="navbar btn-bgcolor">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="{% static 'payment/images/dotschool_logo_black.png' %}"
                 alt="The dotSchool"
                 height="48">
        </a>
    </div>
</nav>

<!-- Main Content -->
<div class="container mt-5">
    <div class="row align-items-stretch">

        <!-- Payment Form -->
        <main class="col-lg-5">
            {% block main %}
            {% endblock %}
        </main>

        <!-- Aside Image -->
        
        <aside class="col-lg-7 mt-2 d-none d-lg-flex align-items-center">
            {% block aside %}
            {% endblock %}
        </aside>
        

    </div>
</div>

<!-- Footer -->
 {% block footer %}
{% endblock %}

<script>
    const steps = document.querySelectorAll('.step');
    let current = 0;

    function animateSteps() {
        steps.forEach(step => step.classList.remove('active'));
        steps[current].classList.add('active');
        current = (current + 1) % steps.length;
    }

    animateSteps();
    setInterval(animateSteps, 2500);
</script>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
